@model InnoShop.Domain.Models.Product

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Detail";
}
<div>
    <h1>@Html.DisplayFor(model => model.Name)</h1>
    <hr />
    <table>
        <tr>
            <td width="70%" rowspan="8" class="detaildesc" id="desc">@Html.Raw(Model.Description.Replace("\n", "<br>"))
            </td>
            <td width="6%" rowspan="8"></td>
            <td width="12%" class="detailsitems">Пользователь: </td>
            <td width="16%" id="user" data-value=@Model.UserId>@Html.DisplayFor(model => model.User.UserName)</td>
        </tr>
        <tr>
            <td class="detailsitems">Стоимость: </td>
            <td>@Html.DisplayFor(model => model.Cost) р.</td>
        </tr>
        <tr>
            <td class="detailsitems">Категория: </td>
            <td>@Html.DisplayFor(model => model.ProdType.Name)</td>
        </tr>
        <tr>
            <td class="detailsitems">Дата создания: </td>
            <td>@Html.DisplayFor(model => model.CreationDate)</td>
        </tr>
        <tr>
            <td class="detailsitems">Публичный: </td>
            <td>
                @if (Model.Public)
                {
                    <text>Да</text>
                }
                else
                {
                    <text>Нет</text>
                }
            </td>
        </tr>
        <tr>
            <td class="detailsitems">Куплен: </td>
            <td>
                @if (Model.Sold)
                {
                    <text>Да</text>
                }
                else
                {
                    <text>Нет</text>
                }
            </td>
        </tr>
        <tr>
            <td class="lastdetailsitems">Покупатель: </td>
            <td class="lastdetailsitems">
                @if (Model.Buyer == null)
                {
                    <i>Отсутствует</i>
                }
                else
                    @Html.DisplayFor(model => model.Buyer.UserName)

            </td>
        </tr>
    </table>
    
</div>
<div>
    <span id="editBtn" style="display:none"><a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Изменить</a> | <a asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-danger">Удалить</a> | </span>
    <span id="buyBtn" style="display:none"><a class="btn btn-success">Купить</a> | </span>
    <a asp-action="Index" class="btn btn-info">К списку</a>
    <div id="buyerDiv" style="display:none"><br />Покупатель: @if (Model.Buyer != null)
            @Model.Buyer.UserName
<br /><a id="acceptBtn" class="btn btn-success">Подтвердить</a>  <a id="declineBtn" class="btn btn-danger">Отклонить</a> </>

</div>
@section Scripts
{
    <script src="~/js/Authorize.js" asp-append-version="true"></script>
    <script src="~/js/BuyerAction.js" asp-append-version="true"></script>
    <script>
        const id = @Model.Id;
        async function go() {
            if (localStorage.getItem('jwtToken') != null)
            {
                user = await auth("@ViewBag.Host.User");
                if (document.getElementById('user').getAttribute('data-value') == user.id || getRoleFromToken() == "Admin")
                    document.getElementById('editBtn').style.display = 'inline-block';
                if (document.getElementById('user').getAttribute('data-value') != user.id && ("@Model.BuyerId" == ""))
                    document.getElementById('buyBtn').style.display = 'inline-block';
                if (document.getElementById('user').getAttribute('data-value') == user.id && ("@Model.BuyerId" != "") && "@Model.Sold"=="False")
                    document.getElementById('buyerDiv').style.display = 'block';

            }
        }
        bindButton("acceptBtn", "ConfirmBought");
        bindButton("buyBtn", "Buy");
        bindButton("declineBtn", "RejectBought");
        go();
    </script>
}